/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@font-face {
    font-family: "Pixel";
    src: url('pixelfont.TTF') format('truetype');
  }

.avatar{
  max-width: 30px; 
  height: auto; 
  margin-left: 50%;   
}

body {
    font-family: "Press Start 2P", monospace;
    color: #EAE075;
    background-color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

.text {
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}


/* about me section */
.special-imaget {
  width: 25%; 
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/* design manifesto & design questions*/

.question{
  font-family: 'Courier New', Courier, monospace;
  color: #EAE075;
  text-align: left;
  font-size: 18px;
  margin: 20px;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
}
.text-special {
  font-family: 'Courier New', Courier, monospace;
  color:#fff;
  text-align: left;
  font-size: 18px;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.questiont{
  font-family: 'Courier New', Courier, monospace;
  color: #EAE075;
  text-align: left;
  font-size: 18px;
  margin-left: 10%;
}
.text-specialt {
  font-family: 'Courier New', Courier, monospace;
  color:#fff;
  text-align: left;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
}


img {
  max-width: 100%; 
  height: auto;    
  display: block;  
}

.special-image {
  width: 50%; 
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* porfolio section */

.flex-container {
    display: flex;
    align-items: flex-start; 
    justify-content:space-around 
}


.image-container {
    flex: 2; 
    align-self: center;

}

.image-container-special {
  flex: 0.8; 
  align-self: center;
}

.text-container {
    flex: 1; 
    padding: 20px; 
    margin-left: 100px;
}

.flex-container-reverse {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.image-container-reverse {
  flex: 2; 
  align-self: center;
  margin-right: -10%;
  margin-left: 0px;
}

.text-container-reverse {
  flex: 1; 
  padding: 20px; 
  align-self: center;
}




.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ret {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.item {
  text-align: center;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 20px;
  align-items: stretch; 
  margin-left: 15%;
  margin-right: 15%;
}

.portfolio-item .item {
  flex: 1 1 48%; 
  text-align: center; 
  margin: 1%; 
  display: flex;
  flex-direction: column; 
}

.portfolio-item .item img {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
}

.portfolio-item .item p {
  margin-top: auto; 
  text-align: center; 
}


#about {
  background-color: #000;
  font-family: 'Press Start 2P', monospace; 
  text-align: center;
  padding: 20px; 
}

#about h2 {
  color: #33C3F0; 
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

.about-content .text {
  flex: 1;
  margin: 0 20px;
  color: #EAE075;
  background-color: #222;
  padding: 10px;
  box-sizing: border-box;
}

.about-content .text.left {
  text-align: left;
  color: #fff;
  font-size: 20px;
}

.about-content .text.right {
  text-align: center;
}

.button {
  display: block;
  width: max-content;
  margin: 10px auto;
  background-color: #cd03ff; 
  color: #fff;
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; 
}


  nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid #444;
  }
  
  h1, h2 {
    font-size: 24px;
    text-align: center;
  }
  
  button {
    background-color: #0066cc; 
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333; 
  }
 
  @media (max-width: 768px) {
    img {
      width: 100%; 
    }

    body, .text {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 16px;
    }
  
    nav ul li {
        display: block;
        margin: 10px 0;
    }
  
    h1, h2 {
        font-size: 20px;
    }

    .portfolio-item {
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
  
    .portfolio-item .item {
        flex-basis: 100%;
    }

    .about-content, .about-content .text {
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }

    .flex-container, .flex-container-reverse {
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
  }

  .image-container, .image-container-reverse {
      flex: none;    
      width: 100%;           
      margin-right: 0;        
      align-self: center;    
  }

  .text-container, .text-container-reverse {
      flex: none;       
      width: 100%;     
      padding: 10px;     
      margin-left: 0;
      margin-right: 0;
      align-self: center;  
  }

  .special-image {
    width: 75%; 
  }

  .special-imaget {
    width: 75%; 
  }
}
  

  